@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

:root{
    --bg:#232931;
    --higthlight:#4ecca3;
    --bg-card:#393e46;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg);
  color: white;
}

.boards{
    width: 90%;
    margin: 32px auto;
}

.board{
    min-width: 300px;
    background-color: var(--bg-card);
    border: 1px solid rgb(6, 23, 32);
    margin: 0 10px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.board>.card{
    margin: 0 16px 16px;
}

.board h3{
    padding: 16px;
    margin: 0;
    color: var(--higthlight);
}

.create-card{
    margin: 0 16px 16px;
}

input{
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #263238;
    box-sizing: border-box;
    padding: .5em .5em .5em 1em;
    width: 82%;
    margin: 10px auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

button{
    background-color: var(--bg);
    color: var(--higthlight);
    padding: .5em;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.delete{
    background-color: #ef5350e8;
    color: white;
    border-color:#d32f2f;
    margin-top: 7px;
}

.dropzone{
    padding: 16px;
    min-width: 282px;
    height: calc(80% - 100px);
}

.card{
    background: var(--bg);
    padding: 16px;
    width: 250px;
    margin:15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.content{
    word-wrap: break-word;
}

.status{
    width:30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cards .dropzone{
    transition: 400ms ease-in-out;
    -webkit-transition: 400ms ease-in-out;
    -moz-transition: 400ms ease-in-out;
    -ms-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
}

.hightlight{
    background-color:rgb(33, 61, 78) ;
}

.is-dragging{
    cursor: move;
    opacity: 0.3;
}

.over{
    background-color: rgba(67, 160, 72, 0.137);
}

::-webkit-scrollbar {
    width:8px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    background:var(--bg-card);
}

::-webkit-scrollbar-thumb {
    background: var(--higthlight);
}

footer{
    font-size: 12px;
    color: #4e555f;
    display: flex;
    justify-content: center;
}

footer a{
    color: var(--higthlight);
}

@media screen and (min-width:500px){
    .dropzone{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        margin-left: 10px;
        flex: 0 0 25%;
    }
}
@media screen and (min-width:800px){
    .board{
        width: 314px;
    }
}

@media screen and (min-width:1024px){
    .boards{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .board{
        min-width: 316px;
    }
    .dropzone{
        display: block;
    }
    .card{
        max-width: 260px;
        margin-left: 0;
    }
}

